.service-card {
  background: #111;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  border: 1px solid #222;
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-6px);
  border-color: #6c63ff;
}

.service-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.service-card h3 {
  margin-bottom: 10px;
}

.service-card p {
  color: #aaa;
  font-size: 14px;
}